body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: green;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;  
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
 button {
     outline-color: #016f32;
     width: 150px;
     background: goldenrod;
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: bold;
     border: none;
     border-radius: 2px;
 }